*.mat
*.pyc
*/__pycache__/
/pyenv
/lakes_pyenv/
*.qgz

/data/raw/antarctic_basal_thermal_state/*
!/data/raw/antarctic_basal_thermal_state/citation.md

/data/raw/greenland_basal_thermal_state/*
!/data/raw/greenland_basal_thermal_state/citation.md

/data/raw/greenland_RES_lakes/41467_2019_10821_MOESM3_ESM.xlsx

data/raw/lakes/43017_2021_246_MOESM1_ESM.xlsx

*.ipynb_checkpoints
